.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  background-color:#EFF0F1;

}

section{
  height:500px;
  overflow: auto;
  height:650px;
}

li{
  list-style:none;
}

/* nav{
  overflow:hidden;
  position:fixed;
} */

h4{
  text-decoration:none;
  
}

.cardButtons{
  display:flex;
  justify-content:space-around;
  width: 100%;
}


.topNav{
  position: fixed;
  width: 100%;
}
.fab{
  color:white;
  font-size: 40px;;
}
.bottomNav {
  position: fixed;
  bottom:0;
  width: 100%;
}
.fas{
color:white;
}

ul {
  color:black;
  margin-right:15%;
  margin-left:15%;
  text-align:center;
  padding-right:10%;
  padding-left:10%;
  font-family:arial;
  background-color:#EFF0F1;
}
 section {
   padding-top:50px;
 }
#name {
  font-size:16px;
  text-align:left;
  margin:0;
  text-transform: capitalize;
  font-weight: 900;
}
i{
  z-index:10;
  text-align:left;
  color:black;
} 
.fa-hand-spock {
  color:black;
}

ul>fas {
  color:black;
}
button {
  height:50px;
}

